<div class="container-fluid p-0">
    <app-carousel [Images]="images"></app-carousel>

    <div class="container pt-5">
        <h1>home-form works!</h1>

        <div class="row">
            <div class="col-md-4 p-2"><app-image-link [Image]="'/assets/home/gulv_42.jpg'"></app-image-link></div>
            <div class="col-md-4 p-2"><app-image-link [Image]="'/assets/home/koekken_36.jpg'"></app-image-link></div>
            <div class="col-md-4 p-2"><app-image-link [Image]="'/assets/home/tag_44.jpg'"></app-image-link></div>
            <div class="col-md-6 p-2"><app-image-link [Image]="'/assets/home/service_56.jpg'"></app-image-link></div>
            <div class="col-md-6 p-2"><app-image-link [Image]="'/assets/home/vinduer_50.jpg'"></app-image-link></div>
        </div>

        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
        <p>lorem ipsum</p>
    </div>
</div>
