<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="card footer-card">
                    <div class="card-body text-white">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">adresse</div>
                        <div class="card-text">post</div>
                        <div class="card-text">cvr</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card footer-card">
                    <div class="card-body text-white">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">adresse</div>
                        <div class="card-text">post</div>
                        <div class="card-text">cvr</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card footer-card">
                    <div class="card-body text-white">
                        <h5 class="card-title">Card title</h5>
                        <div class="card-text">adresse</div>
                        <div class="card-text">post</div>
                        <div class="card-text">cvr</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
